<div class="jumbotron">
<h4>Search:</h4>
<form action="/simpleQuery" method="post">
<label for="area_select">Location</label>
<select id="area_select" data-placeholder="e.g. Tribeca, Upper West Side, Clinton Hill" name="area" style='width: 450px;' size='1'>
<option value="manhattan">Manhattan</option>
<option value="midtown-all">All Midtown</option>
<option value="soho">Soho</option>
<option value="inwood">Inwood</option>
<option value="noho">Noho</option>
<option value="hudson-heights">Hudson Heights</option>
<option value="midtown-east">Midtown East</option>
<option value="fort-george">Fort George</option>
<option value="nomad">NoMad</option>
<option value="washington-heights">Washington Heights</option>
<option value="little-italy">Little Italy</option>
<option value="east-harlem">East Harlem</option>
<option value="murray-hill">Murray Hill</option>
<option value="central-harlem">Central Harlem</option>
<option value="midtown-west">Midtown West</option>
<option value="west-harlem">West Harlem</option>
<option value="chelsea">Chelsea</option>
<option value="hamilton-heights">Hamilton Heights</option>
<option value="gramercy-park">Gramercy Park</option>
<option value="manhattanville">Manhattanville</option>
<option value="west-village">West Village</option>
<option value="upper">All Upper Manhattan</option>
<option value="two-bridges">Two Bridges</option>
<option value="upper-carnegie-hill">Upper Carnegie Hill</option>
<option value="fulton-seaport">Fulton/Seaport</option>
<option value="carnegie-hill">Carnegie Hill</option>
<option value="financial-district">Financial District</option>
<option value="upper-east-side">Upper East Side</option>
<option value="midtown">Midtown</option>
<option value="yorkville">Yorkville</option>
<option value="midtown-south">Midtown South</option>
<option value="lenox-hill">Lenox Hill</option>
<option value="west-chelsea">West Chelsea</option>
<option value="ues">All Upper East Side</option>
<option value="battery-park-city">Battery Park City</option>
<option value="morningside">Morningside Heights</option>
<option value="flatiron">Flatiron</option>
<option value="manhattan-valley">Manhattan Valley</option>
<option value="east-village">East Village</option>
<option value="upper-west-side">Upper West Side</option>
<option value="greenwich-village">Greenwich Village</option>
<option value="lincoln-square">Lincoln Square</option>
<option value="nolita">Nolita</option>
<option value="uws">All Upper West Side</option>
<option value="les">Lower East Side</option>
<option value="central-park-south">Central Park South</option>
<option value="chinatown">Chinatown</option>
<option value="sutton-place">Sutton Place</option>
<option value="tribeca">Tribeca</option>
<option value="beekman">Beekman</option>
<option value="civic-center">Civic Center</option>
<option value="turtlebay">Turtle Bay</option>
<option value="downtown">All Downtown</option>
<option value="kips-bay">Kips Bay</option>
<option value="stuyvesant-town">Stuyvesant Town/PCV</option>
<option value="roosevelt-island">Roosevelt Island</option>
<h2><option value="brooklyn" class="not_link_lookin">Brooklyn</h2>
<option value="greenpoint">Greenpoint</option>
<option value="williamsburg">Williamsburg</option>
<option value="downtown-brooklyn">Downtown Brooklyn</option>
<option value="fort-greene">Fort Greene</option>
<option value="brooklyn-heights">Brooklyn Heights</option>
<option value="boerum-hill">Boerum Hill</option>
<option value="dumbo">DUMBO</option>
<option value="vinegar-hill">Vinegar Hill</option>
<option value="bedford-stuyvesant">Bedford-Stuyvesant</option>
<option value="stuyvesant-heights">Stuyvesant Heights</option>
<option value="ocean-hill">Ocean Hill</option>
<option value="bushwick">Bushwick</option>
<option value="east-new-york">East New York</option>
<option value="new-lots">New Lots</option>
<option value="city-line">City Line</option>
<option value="starrett-city">Starrett City</option>
<option value="red-hook">Red Hook</option>
<option value="park-slope">Park Slope</option>
<option value="gowanus">Gowanus</option>
<option value="carroll-gardens">Carroll Gardens</option>
<option value="cobble-hill">Cobble Hill</option>
<option value="sunset-park">Sunset Park</option>
<option value="windsor-terrace">Windsor Terrace</option>
<option value="crown-heights">Crown Heights</option>
<option value="weeksville">Weeksville</option>
<option value="prospect-heights">Prospect Heights</option>
<option value="cswd">Columbia St Waterfront District</option>
<option value="prospect-lefferts-gardens">Prospect Lefferts Gardens</option>
<option value="bay-ridge">Bay Ridge</option>
<option value="fort-hamilton">Fort Hamilton</option>
<option value="dyker-heights">Dyker Heights</option>
<option value="bensonhurst">Bensonhurst</option>
<option value="bath-beach">Bath Beach</option>
<option value="gravesend">Gravesend</option>
<option value="borough-park">Borough Park</option>
<option value="mapleton">Mapleton</option>
<option value="ocean-parkway">Ocean Parkway</option>
<option value="kensington">Kensington</option>
<option value="coney-island">Coney Island</option>
<option value="brighton-beach">Brighton Beach</option>
<option value="ditmas-park">Ditmas Park</option>
<option value="fiske-terrace">Fiske Terrace</option>
<option value="seagate">Seagate</option>
<option value="flatbush">Flatbush</option>
<option value="midwood">Midwood</option>
<option value="sheepshead-bay">Sheepshead Bay</option>
<option value="homecrest">Homecrest</option>
<option value="madison">Madison</option>
<option value="manhattan-beach">Manhattan Beach</option>
<option value="brownsville">Brownsville</option>
<option value="prospect-park-south">Prospect Park South</option>
<option value="northeast-flatbush">Northeast Flatbush</option>
<option value="farragut">Farragut</option>
<option value="wingate">Wingate</option>
<option value="greenwood">Greenwood</option>
<option value="canarsie">Canarsie</option>
<option value="flatlands">Flatlands</option>
<option value="marine-park">Marine Park</option>
<option value="gerritsen-beach">Gerritsen Beach</option>
<option value="mill-basin">Mill Basin</option>
<option value="old-mill-basin">Old Mill Basin</option>
<option value="bergen-beach">Bergen Beach</option>
<option value="clinton-hill">Clinton Hill</option>
<h2><option value="queens" class="not_link_lookin">Queens</h2>
<option value="maspeth">Maspeth</option>
<option value="middle-village">Middle Village</option>
<option value="ridgewood">Ridgewood</option>
<option value="glendale">Glendale</option>
<option value="rego-park">Rego Park</option>
<option value="forest-hills">Forest Hills</option>
<option value="flushing">Flushing</option>
<option value="whitestone">Whitestone</option>
<option value="malba">Malba</option>
<option value="beechhurst">Beechhurst</option>
<option value="college-point">College Point</option>
<option value="fresh-meadows">Fresh Meadows</option>
<option value="kew-gardens-hills">Kew Gardens Hills</option>
<option value="jamaica-hills">Jamaica Hills</option>
<option value="woodhaven">Woodhaven</option>
<option value="richmond-hill">Richmond Hill</option>
<option value="kew-gardens">Kew Gardens</option>
<option value="howard-beach">Howard Beach</option>
<option value="corona">Corona</option>
<option value="elmhurst">Elmhurst</option>
<option value="rockwood-park">Rockwood Park</option>
<option value="lindenwood">Lindenwood</option>
<option value="old-howard-beach">Old Howard Beach</option>
<option value="north-corona">North Corona</option>
<option value="ozone-park">Ozone Park</option>
<option value="south-ozone-park">South Ozone Park</option>
<option value="bayside">Bayside</option>
<option value="bay-terrace-queens">Bay Terrace (Queens)</option>
<option value="douglaston">Douglaston</option>
<option value="little-neck">Little Neck</option>
<option value="east-elmhurst">East Elmhurst</option>
<option value="jamaica">Jamaica</option>
<option value="south-jamaica">South Jamaica</option>
<option value="hollis">Hollis</option>
<option value="st-albans">St. Albans</option>
<option value="laurelton">Laurelton</option>
<option value="cambria-heights">Cambria Heights</option>
<option value="queens-village">Queens Village</option>
<option value="glen-oaks-village">Glen Oaks Village</option>
<option value="floral-park">Floral Park</option>
<option value="bellerose">Bellerose</option>
<option value="rosedale">Rosedale</option>
<option value="springfield-gardens">Springfield Gardens</option>
<option value="briarwood">Briarwood</option>
<option value="jamaica-estates">Jamaica Estates</option>
<option value="new-hyde-park">New Hyde Park</option>
<option value="south-richmond-hill">South Richmond Hill</option>
<option value="oakland-gardens">Oakland Gardens</option>
<option value="hillcrest">Hillcrest</option>
<option value="pomonok">Pomonok</option>
<option value="jackson-heights">Jackson Heights</option>
<option value="east-flushing">East Flushing</option>
<option value="murray-hill-queens">Murray Hill (Queens)</option>
<option value="woodside">Woodside</option>
<option value="clearview">Clearview</option>
<option value="sunnyside-queens">Sunnyside</option>
<option value="alley-park">Alley Park</option>
<option value="queensboro-hill">Queensboro Hill</option>
<option value="rockaway-all">Rockaway All</option>
<option value="far-rockaway">Far Rockaway</option>
<option value="broad-channel">Broad Channel</option>
<option value="arverne">Arverne</option>
<option value="rockaway-park">Rockaway Park</option>
<option value="bayswater">Bayswater</option>
<option value="belle-harbor">Belle Harbor</option>
<option value="breezy-point">Breezy Point</option>
<option value="neponsit">Neponsit</option>
<option value="hunters-point">Hunters Point</option>
<option value="long-island-city">Long Island City</option>
<option value="astoria">Astoria</option>
<option value="utopia">Utopia</option>
<option value="ramblersville">Ramblersville</option>
<option value="howard-park">Howard Park</option>
<option value="auburndale">Auburndale</option>
<option value="hamilton-beach">Hamilton Beach</option>
<option value="bowne-park">Bowne Park</option>
<option value="ditmars-steinway">Ditmars-Steinway</option>
<option value="edgemere">Edgemere</option>
<option value="hammels">Hammels</option>
<option value="brookville">Brookville</option>
<h2><option value="bronx" class="not_link_lookin">Bronx</h2>
<option value="concourse">Concourse</option>
<option value="bronxwood">Bronxwood</option>
<option value="country-club">Country Club</option>
<option value="eastchester">Eastchester</option>
<option value="spuyten-duyvil">Spuyten Duyvil</option>
<option value="wakefield">Wakefield</option>
<option value="east-tremont">East Tremont</option>
<option value="woodlawn">Woodlawn</option>
<option value="morrisania">Morrisania</option>
<option value="pelham-gardens">Pelham Gardens</option>
<option value="riverdale">Riverdale</option>
<option value="williamsbridge">Williamsbridge</option>
<option value="belmont">Belmont</option>
<option value="laconia">Laconia</option>
<option value="university-heights">University Heights</option>
<option value="van-nest">Van Nest</option>
<option value="schuylerville">Schuylerville</option>
<option value="bronxdale">Bronxdale</option>
<option value="hunts-point">Hunts Point</option>
<option value="pelham-parkway">Pelham Parkway</option>
<option value="fieldston">Fieldston</option>
<option value="morris-park">Morris Park</option>
<option value="kingsbridge-heights">Kingsbridge Heights</option>
<option value="city-island">City Island</option>
<option value="bedford-park">Bedford Park</option>
<option value="woodstock">Woodstock</option>
<option value="west-farms">West Farms</option>
<option value="pelham-bay">Pelham Bay</option>
<option value="fordham">Fordham</option>
<option value="locust-point">Locust Point</option>
<option value="morris-heights">Morris Heights</option>
<option value="throgs-neck">Throgs Neck</option>
<option value="highbridge">Highbridge</option>
<option value="parkchester">Parkchester</option>
<option value="edenwald">Edenwald</option>
<option value="castle-hill">Castle Hill</option>
<option value="mott-haven">Mott Haven</option>
<option value="soundview">Soundview</option>
<option value="melrose">Melrose</option>
<option value="marble-hill">Marble Hill</option>
<option value="norwood">Norwood</option>
<option value="kingsbridge">Kingsbridge</option>
<option value="claremont">Claremont</option>
<option value="crotona-park-east">Crotona Park East</option>
<option value="longwood">Longwood</option>
<option value="westchester-square">Westchester Square</option>
<option value="westchester-village">Westchester Village</option>
<option value="north-new-york">North New York</option>
<option value="coop-city">Co-op City</option>
<option value="baychester">Baychester</option>
<option value="tremont">Tremont</option>
<option value="mt-hope">Mt. Hope</option>
<h2><option value="staten-island" class="not_link_lookin">Staten Island</h2>
<option value="north-shore">North Shore</option>
<option value="howland-hook">Howland Hook</option>
<option value="port-ivory">Port Ivory</option>
<option value="arlington">Arlington</option>
<option value="mariners-harbor">Mariners Harbor</option>
<option value="elm-park">Elm Park</option>
<option value="manor-heights">Manor Heights</option>
<option value="port-richmond">Port Richmond</option>
<option value="west-new-brighton">West New Brighton</option>
<option value="west-brighton">West Brighton</option>
<option value="sunset-hill">Sunset Hill</option>
<option value="livingston">Livingston</option>
<option value="snug-harbor">Snug Harbor</option>
<option value="randall-manor">Randall Manor</option>
<option value="new-brighton">New Brighton</option>
<option value="saint-george">Saint George</option>
<option value="tompkinsville">Tompkinsville</option>
<option value="brighton-heights">Brighton Heights</option>
<option value="saint-pauls">Saint Pauls</option>
<option value="stapleton">Stapleton</option>
<option value="clifton">Clifton</option>
<option value="fox-hills">Fox Hills</option>
<option value="rosebank">Rosebank</option>
<option value="shore-acres">Shore Acres</option>
<option value="park-hill">Park Hill</option>
<option value="grymes-hill">Grymes Hill</option>
<option value="stapleton-heights">Stapleton Heights</option>
<option value="ward-hill">Ward Hill</option>
<option value="silver-lake">Silver Lake</option>
<option value="east-shore">East Shore</option>
<option value="fort-wadsworth">Fort Wadsworth</option>
<option value="arrochar">Arrochar</option>
<option value="grasmere">Grasmere</option>
<option value="concord">Concord</option>
<option value="emerson-hill">Emerson Hill</option>
<option value="south-beach">South Beach</option>
<option value="old-town">Old Town</option>
<option value="ocean-breeze">Ocean Breeze</option>
<option value="dongan-hills">Dongan Hills</option>
<option value="todt-hill">Todt Hill</option>
<option value="lower-todt-hill">Lower Todt Hill</option>
<option value="grant-city">Grant City</option>
<option value="midland-beach">Midland Beach</option>
<option value="new-dorp">New Dorp</option>
<option value="new-dorp-beach">New Dorp Beach</option>
<option value="oakwood">Oakwood</option>
<option value="oakwood-beach">Oakwood Beach</option>
<option value="lighthouse-hill">Lighthouse Hill</option>
<option value="high-rock">High Rock</option>
<option value="richmondtown">Richmondtown</option>
<option value="bay-terrace">Bay Terrace</option>
<option value="egbertville">Egbertville</option>
<option value="mid-island">Mid-Island</option>
<option value="graniteville">Graniteville</option>
<option value="bulls-head">Bulls Head</option>
<option value="willowbrook">Willowbrook</option>
<option value="new-springville">New Springville</option>
<option value="clove-lakes">Clove Lakes</option>
<option value="heartland-village">Heartland Village</option>
<option value="la-tourette">La Tourette</option>
<option value="meiers-corners">Meiers Corners</option>
<option value="westerleigh">Westerleigh</option>
<option value="castleton-corners">Castleton Corners</option>
<option value="royal-oak">Royal Oak</option>
<option value="sunnyside-staten-island">Sunnyside</option>
<option value="south-shore">South Shore</option>
<option value="greenridge">Greenridge</option>
<option value="arden-heights">Arden Heights</option>
<option value="great-kills">Great Kills</option>
<option value="eltingville">Eltingville</option>
<option value="annadale">Annadale</option>
<option value="huguenot">Huguenot</option>
<option value="huguenot-beach">Huguenot Beach</option>
<option value="princes-bay">Princes Bay</option>
<option value="pleasant-plains">Pleasant Plains</option>
<option value="woodrow">Woodrow</option>
<option value="rossville">Rossville</option>
<option value="charleston">Charleston</option>
<option value="old-place">Old Place</option>
<option value="richmond-valley">Richmond Valley</option>
<option value="mount-loretto">Mount Loretto</option>
<option value="butler-manor">Butler Manor</option>
<option value="sandy-ground">Sandy Ground</option>
<option value="tottenville">Tottenville</option>
<option value="tottenville-beach">Tottenville Beach</option>
<option value="west-shore">West Shore</option>
<option value="bloomfield">Bloomfield</option>
<option value="the-teleport">The Teleport</option>
<option value="chelsea-staten-island">Chelsea (Staten Island)</option>
<option value="travis">Travis</option></select>
<label for="price_from"> Price </label>
<select id="price_from" name="price_from">
    <option value="">Any</option>
    <option value="500">$500</option>
    <option value="750">$750</option>
    <option value="1000">$1,000</option>
    <option value="1250">$1,250</option>
    <option value="1500">$1,500</option>
    <option value="1750">$1,750</option>
    <option value="2000">$2,000</option>
    <option value="2500">$2,500</option>
    <option value="3000">$3,000</option>
    <option value="3500">$3,500</option>
    <option value="4000">$4,000</option>
    <option value="4500">$4,500</option>
    <option value="5000">$5,000</option>
    <option value="6000">$6,000</option>
    <option value="7000">$7,000</option>
    <option value="8000">$8,000</option>
    <option value="9000">$9,000</option>
    <option value="10000">$10,000</option>
    <option value="12500">$12,500</option>
    <option value="15000">$15,000</option>
</select>
To <select id="price_to" name='price_to' >
    <option value="">Any</option>
    <option value="500">$500</option>
    <option value="750">$750</option>
    <option value="1000">$1,000</option>
    <option value="1250">$1,250</option>
    <option value="1500">$1,500</option>
    <option value="1750">$1,750</option>
    <option value="2000">$2,000</option>
    <option value="2500">$2,500</option>
    <option value="3000">$3,000</option>
    <option value="3500">$3,500</option>
    <option value="4000">$4,000</option>
    <option value="4500">$4,500</option>
    <option value="5000">$5,000</option>
    <option value="6000">$6,000</option>
    <option value="7000">$7,000</option>
    <option value="8000">$8,000</option>
    <option value="9000">$9,000</option>
    <option value="10000">$10,000</option>
    <option value="12500">$12,500</option>
    <option value="15000">$15,000</option>
</select>
<label for='beds'>Bedrooms</label>
<select name='beds' id='beds'>
    <option value="">Any</option>
    <option value="&lt;1">Studio only</option>
    <option value="&lt;=1">Studio / 1 br</option>
    <option value="1">1 bedroom</option>
    <option value="2">2 bedrooms</option>
    <option value="3">3 bedrooms</option>
    <option value="4">4 bedrooms</option>
</select>
<label for='baths'>Bathrooms</label>
<select name='baths' id='baths'>
    <option value="">Any</option>
    <option value="&gt;=1">1 or more</option>
    <option value="&gt;=1.5">1.5 or more</option>
    <option value="&gt;=2">2 or more</option>
    <option value="&gt;=2.5">2.5 or more</option>
    <option value="&gt;=3">3 or more</option>
    <option value="&gt;=3.5">3.5 or more</option>
    <option value="&gt;=4">4 or more</option>
</select>
<input type='submit' name='Submit' value='Go>>' style='width:72px' />
</form>

</div>

<script src="javascripts/search.js"></script>

